<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home Page</title>
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css"/>

    </head>

    <body>
        <div class="navigation">
            <a class="active" href="/">Home</a>
            <a href="/newteam">NewTeam</a>
            <a href="/team">Team</a>
        </div>
        <div>
            <h1>Welcome to Our Team Website</h1>
            <p>Please check the menu for your inquiries</p>
        </div>
        <img src="https://osubeavers.com/images/2017/10/5/0175_MensBBX_3950.jpg" alt="team image" width="1400" height="600"/>

    </body>
</html>
